name: audit

on:
  push:
  pull_request:

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.4.3"

      - uses: r-lib/actions/setup-renv@v2

      - name: Run audits (CI level)
        run: make audit AUDIT_LEVEL=ci

